.App {
    background-color: #F2F2F2;
    height: min-content;

    display: grid;
    grid-template-columns: 304px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "s h"
    "s c";

}
    

.header {
    grid-area: h;

    display: flex;

}

.headerWrap {
    display: flex;
    align-items: center;
}

.headerOption {
    display: flex;
}

.userImg {
    border-radius: 50%;
}

.channel-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 32px;
    gap: 32px;
}


.sidebar {
    grid-area: s;
    background-color: #F8F8F8;
}

.wrap {
    display: flex;
    flex-direction: column;


    padding-top: 33px;
    margin-left: 16px;
}

.logo {
    margin: 0 auto 34px auto;
}

.itemWrap {
    display: flex;
    align-items:center;
    width: 272px;
    height: 56px;

    border-radius: 12px;
}

<<<<<<< HEAD
=======
.svg {
    stroke-width: 1px;

    margin-right: 24px;

}

/* .could-link {
    text-align: end;
} */
>>>>>>> aa175ccb5630225e0b7a662b69281d9d8e58c342

.could-value {
    width: 24px;
    height: 24px;
    background-color: #503E9D;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.svgIcon {
    stroke: #878787;
    fill: #878787;
}

.svgIcon:hover {
    stroke: #503E9D;
    fill: #503E9D;
}

.itemWrap:hover {
    background-color: #cbc5e2;
    
    stroke: #503E9D;
    fill: #503E9D;
    color:#503E9D;
}




.main {
    grid-area: c;
    padding: 32px;
}

.block-content {
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
}


.featured-content {
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 39px;
}
